<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
  <title>About Us</title>
</head>
<body>  
  <div class="main-content">
    {{>header}}
    <p>This website uses two APIs to get the weather forecast for a city.</p>
    <p><strong>Mapbox</strong>: This API accepts a city name and responds back with the longitude and latitude for this city.</p>
  
    <p><strong>Weatherstack</strong>: This API accepts the longitude and latitude of a city and displays the weather forecast.</p>
  </div>
  {{>footer}}  
</body>
</html>